* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* css for tag names */
body {
    background: black;
    color: white;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: whitesmoke;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: whitesmoke;
}

h3 {
    font-size: 36px;
    color: whitesmoke;

}

h4 {
    font-size: 20px;
    color: whitesmoke;
}

h5 {
    font-size: 16px;
}

h6 {
    font-weight: 700;
    font-size: 16px;
}

p {
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
}



/* css for nav bar */
nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(107, 106, 106, 0.6);
    padding: 0px 60px;
    top: 0;
    left: 0;
    z-index: 999;
}

img.logo {
    width: 5%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    box-shadow: 0 5px 15px rgba(107, 106, 106, 0.6);
}

li a {
    text-decoration-line: none;
    font-size: 18px;
    color: aliceblue;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff004f;
}

nav ul li a::after {
    content: '';
    width: 0px;
    height: 3px;

    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}


/* css for home page */
.home {
    background-image: url(/image/bg-img02.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home h4 {
    padding-bottom: 15px;
}

.home p {
    font-family: cursive;
}

.home h1 {
    color: rgb(216, 53, 129);
}

.home button {
    border: 3px ridge rgb(216, 53, 129);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.home button:hover {
    background-color: rgb(216, 53, 129);
    transition: ease-in-out 1.0s;
}


/* css for features */
.section-p1 {
    padding: 40px 80px;
}

.features {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.features .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(240, 239, 255, 0.1);
}

.features .feature-box h6 {
    padding: 8px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(242, 207, 113);
    background-color: rgb(216, 53, 129);
    display: inline-block;
}

.features .feature-box img {
    width: 100%;
    margin-bottom: 5px;
}

.features .feature-box:nth-child(2) h6 {
    background-color: rgb(57, 95, 97);
}

.features .feature-box:nth-child(3) h6 {
    background-color: rgb(81, 57, 97);
}

.features .feature-box:nth-child(4) h6 {
    background-color: rgb(40, 42, 122);
}

.features .feature-box:nth-child(5) h6 {
    background-color: rgb(102, 38, 38);
}

.features .feature-box:nth-child(6) h6 {
    background-color: rgb(231, 0, 0);
}


/* css for product section */
.product1 {
    text-align: center;
}

.product1 .pro-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
}

.product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

.product1 .pro .des span {
    color: aqua;
    font-size: 15px;
}

.product1 .pro .des h5 {
    padding-top: 7px;
    color: white;
    font-size: 16px;
}

.product1 .pro .des .star {
    color: rgb(215, 179, 33);
    font-size: 12px;
}

.product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: aqua;
}

.product1 .pro .cart {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: aqua;
    border: 1px solid rgb(225, 235, 235);
    border-radius: 50px;
    background-color: rgb(102, 104, 104);
    width: 30px;
    height: 30px;
    line-height: 30px;

}

.product1 .pro .cart:hover {
    background-color: #ff004f;
}


/* css for banner */
.section-m1 {
    margin: 40px 0px;
}

.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

.banner2 h4 {
    color: white;
    font-size: 20px;
}

.banner2 h2 {
    color: white;
    font-size: 36px;
    padding: 10px 0;
}

.banner2 h2 span {
    color: black;
}

.banner2 button:hover {
    background-color: #ff004f;

}

/* css for banner2 section */
.sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/image/MEN-1.jpg);
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.sm-banner .banner-box:nth-last-child(1) {
    background-image: url(/image/WOMEN\ -2.jpg);
}
.sm-banner h4{
    color: #121010;
    font-size: 20px;
    font-weight: 300;
}
.sm-banner h2{
    color: #fb0404;
    font-size: 28px;
    font-weight: 800;
}
.sm-banner span{
    color: #fa6262;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(222, 79, 103);
    transition: 0.3s ease-in-out;
}
.sm-banner .banner-box:hover button.white{
background-color: goldenrod;
}

/* css for banner3 section */
.banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
.banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/image/casual.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
.banner3 h2{
    color: white;
    font-weight: 800;
    font-size: 22px;
}
.banner3 h3 {
    color: rgb(222, 79, 103);
    font-weight: 800;
    font-size: 15px;
}
.banner3 .banner-box:nth-child(2){
    background-image: url(/image/men2.jpg);
}
.banner3 .banner-box:nth-child(3){
    background-image: url(/image/men11.jpg);
    color: black;
}

 /* newsletter section */
 